/* General setup */

* {
    box-sizing: border-box;
  }


  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */

@font-face {
    font-family: 'Times New Roman', Times, serif;
    src: url('https://www.1001fonts.com/raleway-font.html');
}

h1,h2{
    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-size: 4.5rem;
    letter-spacing: 0.5rem;
    text-align: center;
}

h2{
    font-size: 3.0rem;
    letter-spacing: 0.3rem;
}

p,li{
    letter-spacing: 0.05rem;
    word-spacing: 0.1rem;
}

section p, section li{
    font-size: 1.6rem;
    line-height: 2.2rem;
}
section h2+p{
    text-indent: 20px;
}
aside p ,aside li{
    font-size: 1.5rem;
    line-height: 2.8rem;
}
footer p{
    font-size: 1.4rem;
}

a:link{
    color:#894846;
}
a:visited{
    color:#894846;
}
a:hover{
    text-decoration: none;
    color: #a66;
}
a:active{
    font-weight: bold;
    text-shadow: 0 0 20px #AA6622;
}

ol, ul{
    margin: 1.5rem 0;
}
ul{
    list-style: none;
}
section ul li::before{
    float: left;
    width: 2rem;
    margin: 0 -1.2em;
    font-size: 0.9em;
}
aside ul li::before{
    float: left;
    width: 2rem;
    margin: 0 -1.2em;
    font-size: 0.10em;
}
